*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$white-color: #fff;
body{
    background: burlywood;
}
.container{
    width: 1200px;
    margin: 0 auto
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

    &-right-content ul{
        list-style-type: none;
    }
    &-right-content ul li{
        margin-left: 30px;
        font-size: 20px;
        color: $white-color
    }
    &-right-content ul a:hover{
        color: #222;
        cursor: pointer;
    }
    &-right-content a{
        text-decoration: none;
        color: $white-color
    }
}
.logo{
    height: 80px
}
.right-content-list{
    display: flex;
}